<!DOCTYPE html>
<html>
<head>
  <title>Day11Homework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Adam's Super Sweet Car Lot</h1>

<%= yield %>

</body>
</html>
